.stack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

.card {
  position: absolute;
  width: 300px;
  height: 500px;
  background-color: #89ABE3FF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-1 {
  top:8.5%;
}

.card-2 {
  background-color: #E3B448;
  position: absolute;
  top:9%;
}

.card-3 {
  background-color: #CBD18F;
  position: absolute;
  top: 9.5%;
}

.card-4 {
  background-color: #3A6B35;
  display: block;
  display:flex;

  top: 10%;
}

.card-4 h1 {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 60%;
}

.card-4 h2 {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 75%;
}

.card-4 img{
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 200px;
  border-radius: 10px;
  outline: 1px solid black;
}


.animate-out {
  transform: translateY(-100%) rotate(180deg);
}

